{% extends 'base.html.twig' %}

{% block title %}Modifier la facture de {{ facture.Prenom }} {{ facture.Nom }}{% endblock %}

{% block body %}
    <h2><a href="{{ path('facture_index') }}"><i class="fas fa-arrow-alt-circle-left"></i></a>Modifier la facture de {{ facture.Prenom }} {{ facture.Nom }}</h2>
<div class="block">
   
 {{ include('facture/_form.html.twig', {'button_label': 'Update'}) }}

</div>
    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
